@model AssetTracker.ViewModels.EmployeeViewModel

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body shadow-lg">
                <h5 class="card-title mb-4">Dodatkowe Informacje</h5>
                <dl class="row">
                    <dt class="col-sm-2">
                        Imię:
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Employee.Name)
                    </dd>
                    <dt class="col-sm-2">
                        Nazwisko:
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Employee.Surname)
                    </dd>
                    <dt class="col-sm-2">
                        Stanowisko:
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Employee.Position)
                    </dd>
                    <dt class="col-sm-2">
                        Miejsce pracy:
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Employee.Workplace)
                    </dd>
                </dl>
                <div class="d-flex justify-content-start align-items-center">
                    <button class="btn btn-warning me-3 editEmployeeBtn" data-id="@Model?.Employee.Id" data-bs-toggle="modal" data-bs-target="#addEmployeeModal">
                        <i class="bi bi-pencil-square text-white"></i>
                    </button>
                    <button class="btn btn-danger deleteEmployeeBtn" data-id="@Model?.Employee.Id" data-bs-toggle="modal" data-bs-target="#deleteEmployeeModal">
                        <i class="bi bi-trash3 text-white"></i>
                    </button>
                    <button type="button" id="addAssetToEmployeeBtn" class="btn btn-primary ms-auto" data-bs-toggle="modal" data-bs-target="#addAssetToEmployeeModal">
                        Przydziel zasoby do pracownika
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<h2 class="text-center m-5">Przypisane zasoby</h2>

<div class="d-flex flex-wrap">
        @foreach (var item in Model.FixedAssets.Items)
        {

            <div class="col-lg-6 col-12">
                <div class="card my-2 mx-2 shadow">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <h6 class="card-subtitle text-secondary mb-3">@item.Model</h6>
                        <a asp-controller="FixedAsset" asp-route-id="@item.Id" asp-action="Details" class="btn btn-success">Zobacz szczegóły</a>
                        <button class="btn position-absolute top-0 end-0 mt-2 me-2 deleteAssetFromEmployee" data-id="@item.Id" data-bs-toggle="modal" data-bs-target="#deleteAssetFromEmployeeModal">
                            <i class="bi bi-x-lg"></i>
                        </button>
                    </div>
                </div>
            </div>

        }
</div>

    @{
        if (Model.FixedAssets.HasPreviousPage || Model.FixedAssets.HasNextPage)
        {
            <div class="row justify-content-end">
                <div class="col-md-6 mt-3">
                    <nav class="assets-pagination">
                        <ul class="pagination justify-content-end">
                            <li class="page-item @(Model.FixedAssets.PageIndex != 1 ? "" : "disabled")">
                                <a class="page-link asset-link" data-page="1" aria-label="First">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item @(Model.FixedAssets.HasPreviousPage ? "" : "disabled")">
                                <a class="page-link asset-link" data-page="@(Model.FixedAssets.PageIndex - 1)" aria-label="Previous">
                                    <span aria-hidden="true">&lsaquo;</span>
                                </a>
                            </li>
                            @for (int i = 1; i <= Model.FixedAssets.TotalPages; i++)
                            {
                                <li class="page-item @(i == Model.FixedAssets.PageIndex ? "active" : "")">
                                    <a class="page-link asset-link" data-page="@i">@i</a>
                                </li>
                            }
                            <li class="page-item @(Model.FixedAssets.HasNextPage ? "" : "disabled")">
                                <a class="page-link asset-link" data-page="@(Model.FixedAssets.PageIndex + 1)" aria-label="Next">
                                    <span aria-hidden="true">&rsaquo;</span>
                                </a>
                            </li>
                            <li class="page-item @(Model.FixedAssets.PageIndex != Model.FixedAssets.TotalPages ? "" : "disabled")">
                                <a class="page-link asset-link" data-page="@(Model.FixedAssets.TotalPages)" aria-label="Last">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

        }
    }


