@model AssetTracker.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Workplace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Workplace)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<button type="button" id="addAssetToEmployeeBtn" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#addAssetToEmployeeModal">Przydziel zasoby do pracownika</button>

<div class="modal fade" id="addAssetToEmployeeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal-employee-title" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Przydziel zasoby</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="AddAssetsToEmployeeForm">
                <input type="hidden" id="employeeId" value="@Model.Id"/>
                <div class="modal-body">
                    <table id="addAssetToEmployeeTable" class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Nazwa
                                </th>
                                <th>
                                    Model
                                </th>
                                <th>
                                    Numer Seryjny
                                </th>
                                <th>
                                    Kod Zasobu
                                </th>
                                <th>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                    <button type="submit" id="submit-assets-to-employee-btn" class="btn btn-primary">Przydziel</button>
                </div>
            </form>
        </div>
    </div>
</div>
