@model AssetTracker.DTOs.FixedAsset.FixedAssetDto

<div class="card">
    <div class="card-body shadow-lg">
        <h5 class="card-title mb-4">Dodatkowe Informacje</h5>
        <dl class="row">
            <dt class="col-sm-2">
                Nazwa:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                Model:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Model)
            </dd>
            <dt class="col-sm-2">
                Numer Seryjny:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SerialNumber)
            </dd>
            <dt class="col-sm-2">
                Kod zasobu:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AssetCode)
            </dd>
            <dt class="col-sm-2">
                Data gwarancji:
            </dt>
            <dd class="col-sm-10">
                @Model.ExpirationDate.ToString("yyyy-MM-dd")
                
            </dd>
        </dl>
        <div class="d-flex justify-content-start align-items-center">
            <button class="btn btn-warning me-3 editAssetBtn" data-id="@Model?.Id" data-bs-toggle="modal" data-bs-target="#addAssetModal">
                <i class="bi bi-pencil-square text-white"></i>
            </button>
            <button class="btn btn-danger deleteAssetBtn" data-id="@Model?.Id" data-bs-toggle="modal" data-bs-target="#deleteAssetModal">
                <i class="bi bi-trash3 text-white"></i>
            </button>
        </div>
    </div>
</div>

<h2 class="text-center m-5">Historia zasobu</h2>

<div class="history-container">
    @foreach (var history in Model.AssetHistories)
    {
        <div class="card my-3">
            <div class="card-body shadow-lg">
                <h5 class="card-title">Pracownik: @history.EmployeeName @history.EmployeeSurname</h5>

                <p class="card-text">
                    <strong>Data rozpoczęcia:</strong> @history.StartDate.ToString("yyyy-MM-dd")
                </p>

                <p class="card-text">
                    <strong>Data zakończenia:</strong>
                    @if (history.EndDate.HasValue)
                    {
                        @history.EndDate.Value.ToString("yyyy-MM-dd")
                    }
                    else
                    {
                        <span>W użyciu</span>
                    }
                </p>

                <p class="card-text">
                    <strong>Czas trwania:</strong>
                    @{
                        var duration = history.EndDate.HasValue
                        ? history.EndDate.Value - history.StartDate
                        : DateTime.Now - history.StartDate;
                        var days = duration.Days;
                    }
                    @if(days != 0)
                    {
                        <span>@days dni,</span>
                    }
                    
                </p>
            </div>
        </div>
    }
</div>