@model AssetTracker.DTOs.Dashboard.Dashboard

@{
    ViewData["Title"] = "Home Page";
}

<p>Liczba pracowników: @Model.EmployeesCount</p>

<p>Liczba zasobów: @Model.AssetsCount</p>

<div>
    <canvas id="barChart"></canvas>
</div>

<div>
    <canvas id="pieChart"></canvas>
</div>

<table>
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Model</th>
            <th>Data przyznania</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var asset in Model.NewlyGrantedAssets)
        {
            <tr>
                <td>@asset.Name</td>
                <td>@asset.Model</td>
                <td>@asset.AssetStartDate.ToString("yyyy-MM-dd")</td>
            </tr>
        }
    </tbody>
</table>