@model AssetTracker.DTOs.Dashboard.Dashboard

@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <h5 class="card-title">Liczba Pracowników: @Model.EmployeesCount</h5>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h5 class="card-title">Liczba zasobów: @Model.AssetsCount</h5>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-8 col-12 me-3 mb-lg-0 mb-2 border border-1" @* style="min-width: 450px *@">
            <canvas id="barChart"></canvas>
        </div>
        <div class="col-lg-3 col-12 d-flex justify-content-center align-items-center border border-1">
            <canvas id="pieChart"></canvas>
        </div>
    </div>
</div>

@* <div class="">
    <div class="d-flex flex-row flex-wrap justify-content-between gap-3">
        <div class="border border-1 w-75" style="min-width: 450px">
            <canvas id="barChart"></canvas>
        </div>
        <div class="border border-1 d-flex justify-content-center align-items-center">
            <canvas id="pieChart"></canvas>
        </div>
    </div> 
</div> *@

<table>
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Model</th>
            <th>Data przyznania</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var asset in Model.NewlyGrantedAssets)
        {
            <tr>
                <td>@asset.Name</td>
                <td>@asset.Model</td>
                <td>@asset.AssetStartDate.ToString("yyyy-MM-dd")</td>
            </tr>
        }
    </tbody>
</table>